* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/*fuentes*/

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

.koulen {
    font-family: 'Koulen', cursive;
}

/*fuentes*/

body {

    background-image: url(/imagenes/Fondo.png);
    background-size: auto;
    font-size: 19px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(197, 200, 172, 0.807);
}

nav {
    padding: 1rem;
    box-sizing: content-box;
}


ul {
    list-style-type: none;
}

nav ul :hover {
    color: black;
}

li {
    padding: 1rem;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

h1 {
    margin-left: 25rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: rgb(77, 77, 77);
}

h2 {
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

footer {
    background-color: rgba(158, 158, 158, 0.434);
}

.baseWeb {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto 2rem;
}

.titulo {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 70px;
    margin-left: 1.5rem;
}

/*descripcion inicio*/

.intro {
    line-height: 25px;
    padding: 1rem;
    margin-top: 3rem;
    border: 1px solid rgba(34, 34, 34, 0.091);
    background-color: rgba(203, 203, 174, 0.306);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(77, 77, 77);
}

/*descripcion inicio*/


/*main*/

.blogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sombraImg {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}

.blog {
    margin: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
    background-color: rgba(203, 203, 174, 0.306);
    border: 1px solid rgba(34, 34, 34, 0.091);
    border-radius: 4px;
    display: flex;
    width: 75%;
}

.blog div {
    padding: 5rem;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogDer {
    margin: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
    background-color: rgba(203, 203, 174, 0.306);
    border: 1px solid rgba(34, 34, 34, 0.091);
    border-radius: 4px;
    display: flex;
    width: 75%;
    flex-direction: row-reverse;
}

.blogDer div {
    padding: 5rem;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog div p {
    text-align: center;
}

.blogDer div p {
    text-align: center;
}

/*main*/


/*modelos*/

.tituloGaleria {
    display: flex;
    justify-content: center;
    padding: 2rem;
    overflow: hidden;
}

.galeria {
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 2rem 0;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
}

.gridItem {
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.671);
    width: 400px;
    height: 400px;
}

.models {
    width: 400px;
}

/*modelos*/


/*talles*/

.blogContainerTalles {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.blogTabla {
    padding: 3rem 4rem;
    background-color: rgba(203, 203, 174, 0.306);
    border: 1px solid rgba(34, 34, 34, 0.091);
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem;
    overflow: hidden;
}

.table {
    border: 1px solid rgba(34, 34, 34, 0.132);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}


.introTalles {
    height: 3rem;
    margin-top: 3rem;
    border: 1px solid rgba(34, 34, 34, 0.091);
    background-color: rgba(203, 203, 174, 0.306);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(77, 77, 77);
    width: 100%;

}

/*talles*/


/*Quienes somos*/

section h3 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}

.centerMain {
    margin: auto;
}

.textBox {
    width: 60%;
    background-color: rgba(203, 203, 174, 0.306);
    padding: 60px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.671);
    font-size: 21px;
    text-align: center;
}

/*Quienes somos*/


/*formulario*/

form h3 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.formBox {
    width: 500px;
    background-color: rgba(203, 203, 174, 0.306);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.671);
}

.formImputs {
    width: 100%;
    background-color: rgba(79, 79, 67, 0.138);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buton {
    width: 100%;
    padding: 1rem;
    background-color: rgb(203, 203, 174);
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*formulario*/


/*footer*/

.piePagina {
    display: flex;
    justify-content: center;
    background-color: rgba(158, 158, 158, 0.434);
}

.piePagina a {
    padding: .5rem;
    color: rgb(57, 57, 57);
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
}

/*footer*/



/*resopnsive mobile*/
@media screen and (max-width: 480px) {
    h1 {
        position: absolute;
        visibility: hidden;
    }

    header {
        padding: 0 3rem;
    }

    li {
        text-overflow: clip;
    }

    .baseWeb {
        height: 170vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5rem auto 2rem;
    }

    .blog {
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .blogDer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .galeria {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: auto;
        grid-auto-flow: dense;
        justify-items: center;
    }

    .mobileMargin {
        width: 90%;
        margin: auto;
    }

    .marginMain {
        margin: auto;

    }

    .introTalles {
        text-align: center;
    }
}

/*resopnsive mobile*/


/*resopnsive tablet*/
@media screen and (max-width: 1180px) {
    h1 {
        position: absolute;
        visibility: hidden;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        padding: 0 3rem;
    }

    .blogContainerTalles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .blog {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .blogDer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .blogContainer {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
    }

    .galeria {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: auto;
        grid-auto-flow: dense;
        justify-items: center;
        overflow: hidden;
    }

    .marginMain {
        margin: auto;

    }

}

/*resopnsive tablet*/